:root {
  --light: #fff;
  --light-grey: #adadad;
  --orange: #ffa600;
  --shadow-color: #b3b3b3da;
  --border-color: #e2e2e2b6;
  --blue: #3383fa;
  --darker-blue: #3178e2;
}

body {
  background: #f2f2f1;
  font-size: 16px;
  line-height: 20px;
  font-family: "Amazon Ember", sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

/* .jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
} */

.jumbotron .display-4 {
  font-weight: bold;
}

.nav-margin {
  margin-right: 2rem;
}

.bg-bluish {
  background-color: #232f3e;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: #ffffff80;
  border-radius: 10px;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: var(--light);
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: var(--light);
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid var(--light);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--light) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.card-info:nth-child(2) {
  transition-delay: 100ms;
}

.card-info:nth-child(3) {
  transition-delay: 200ms;
}

.fa-star {
  color: var(--light-grey);
}

.checked {
  color: var(--orange);
}

.column-container {
  display: flex;
}

.column-1-left {
  flex-basis: 100%;
}

.column-2-right {
  margin-left: 48px;
  max-width: 368px;
  width: 368px;
  z-index: 1;
}

.prod-title {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-t-40 {
  margin: 40px 0 0 0;
}

#product-cost {
  font-size: 18px !important;
  line-height: 24px !important;
}

.subtitle {
  font-size: 24px;
  font-weight: 500;
}

.product-description {
  font-size: 16px;
}

#related-products {
  display: flex;
  flex-wrap: wrap;
}

.related-prod-div {
  border: solid;
  border-color: var(--border-color);
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.related-prod-div:hover {
  box-shadow: 2px 2px 4px var(--shadow-color);
}

.related-p {
  margin: 10px 0 10px 10px;
  font-size: 18px;
  font-weight: 500;
}

.image-related {
  border-top: solid;
  border-width: 1px;
  border-color: var(--border-color);
  height: 10rem;
  width: 16rem;
}

.border-line {
  border-top: 1px solid var(--border-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

.comments-container {
  max-width: 500px;
}

.customer-comment {
  margin-bottom: 22px;
}

.comment-description p {
  height: auto;
  line-height: 20px;
  word-wrap: break-word;
}

.profile-name {
  font-weight: bold;
}

.align-top {
  vertical-align: top;
}

.td-padding-right {
  padding-right: 6px;
}

.rating-select {
  float: left;
}

.stars input {
  display: none;
}

.stars label {
  padding: 2px;
  transition: all 0.2s ease;
  float: right;
}

.stars input:not(:checked) ~ label:hover,
.stars input:not(:checked) ~ label:hover ~ label {
  color: var(--orange);
  cursor: pointer;
}

.stars input:checked ~ label {
  color: var(--orange);
}

#new-comment {
  display: inline-block;
}

#new-comment-text {
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  line-height: normal;
  overflow: hidden;
  padding: 10px;
  resize: none;
  width: 100%;
  max-width: 440px;
}

.submit-bton {
  border-radius: 4px;
  border: none;
  color: var(--light);
  background-color: var(--blue);
}

.confirm-payment {
  height: 40px;
  width: 100%;
}

.delete-bton {
  width: 31px;
  height: 31px;
  margin-left: 20px;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: var(--light-grey);
  color: var(--light-grey);
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.btn-text {
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 35px;
  padding: 0 15px;
  text-align: center;
}

.submit-bton:hover {
  background-color: var(--darker-blue);
}

.item_image_product {
  height: 100px;
}

.item_container {
  display: flex;
}

.item_general {
  display: flex;
  width: 100%;
}

.item_general .name-and-qty {
  display: block;
  width: 100%;
}

.item_name {
  font-family: muli-bold, sans-serif;
  font-size: 20px;
}

.item_price {
  min-width: 100px;
  text-align: right;
  color: #000;
  font-size: 18px;
  font-family: muli-bold, sans-serif;
}

button.button {
  -webkit-border-fit: lines;
  background: 0 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 0;
}

.item_cart_qty button:first-child {
  border-left: solid 1px var(--light-grey);
  border-radius: 16px 0 0 16px;
  border-top: solid 1px var(--light-grey);
  border-bottom: solid 1px var(--light-grey);
  padding: 0 0 0 15px;
}

input.qty {
  color: var(--blue);
  width: 40px !important;
  text-align: center;
}

.item_cart_qty input {
  font-size: 14px;
  border: none;
  border-bottom: solid 1px var(--light-grey);
  border-top: solid 1px var(--light-grey);
  padding: 9px 0;
  color: var(--blue);
}

.item_cart_qty button:last-child {
  border-right: solid 1px var(--light-grey);
  border-radius: 0 16px 16px 0;
  border-top: solid 1px var(--light-grey);
  border-bottom: solid 1px var(--light-grey);
  padding: 0 15px 0 0;
}

.btn-update {
  font: 18px Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: var(--licontainerght-grey);
}

.item_cart_qty {
  height: 35px;
  display: flex;
  flex-direction: row;
}

.item_operations {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-adress-container {
  display: flex;
}

.info-container {
  width: 65%;
  padding-right: 20px;
}

.cart-content {
  border-radius: 8px;
  padding: 30px;
  background: var(--light);
  margin-top: 1.5rem !important;
}

.cart-content h1 {
  font-size: 24px;
}

.item_container .img {
  margin-right: 3rem !important;
}

.adress .border {
  border-radius: 4px;
}

*:disabled {
  background-color: var(--light-grey);
}

.placeholder {
  margin-top: 5%;
  text-align: center;
}

@media (max-width: 991px) {
  .info-adress-container {
    flex-direction: column;
  }

  .info-container {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 768px) {
  [class*="column-"] {
    flex-wrap: wrap;
  }
  .column-2-right {
    margin: 40px 0 0 0;
  }
  .related-prod-div {
    margin: 10px 10px 0 0;
  }
  .prod-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item_general {
    flex-wrap: wrap;
  }

  .container {
    max-width: 90%;
  }

  .info-adress-container {
    flex-direction: column;
  }

  .info-container {
    width: 100%;
    padding: 0;
  }

  .item_container .img {
    margin-right: 0 !important;
  }

  .item_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item_name {
    margin-top: 8px;
    text-align: center;
  }

  .item_cart_qty {
    justify-content: center;
    margin-bottom: 8px;
  }

  .item_operations {
    justify-content: center;
  }
}
